{
  "extends": ["@react-native-community", "@appello/eslint-config"],
  "rules": {
    "import/no-default-export": "off",
    "no-unused-expressions": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "prettier/prettier": 0,
    "jsx-a11y/anchor-is-valid": "off",
    "no-restricted-exports": "off",
    "no-nested-ternary": "off",
    "react/jsx-no-useless-fragment": "off",
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/naming-convention": "off",
    "react/jsx-sort-default-props": ["error", {"ignoreCase": false}]
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  }
}
